/* ------------------- */
/* Global rules */
/* ------------------- */

:root {
  --marvel-red: #ed1d24;
  --background-color: #212121;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: var(--background-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  object-fit: cover;
}

p {
  color: white;
}

/* Titles */
h1,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
  color: white;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

h4 {
  font-size: 16px;
  text-align: center;
}

/* ------------------- */
/* Header */
/* ------------------- */

header {
  border-bottom: solid 1px var(--marvel-red);
  padding: 10px 0;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 180px;
}

header button {
  background-color: var(--marvel-red);
  height: 40px;
  width: 100px;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}

/* ------------------- */
/* Main */
/* ------------------- */

/* Home Page */

.homepage {
  height: calc(100vh - 180px);
}

/* All Character Page & All Comic Page */
.character-list > div {
  display: flex;
  flex-wrap: wrap;
}

.character-card,
.comic-card {
  width: 250px;
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--marvel-red);
}

.character-card > div,
.comic-card > div {
  position: relative;
}

.character-card img,
.comic-card img {
  width: 100%;
}

/* Favorties */
.favorite,
.not-favorite {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.favorite {
  color: var(--marvel-red);
  background-color: #fff;
  border: 1px solid var(--marvel-red);
}

.not-favorite {
  color: white;
  background-color: var(--marvel-red);
}
/* Character page */
.character-page {
  display: flex;
  min-height: 60vh;
}

.character-page > div:first-child {
  flex: 1;
  margin-right: 30px;
  position: relative;
}

.character-page > div:first-child > img {
  width: 100%;
  height: 100%;
}

.character-page > div:nth-child(2) {
  width: 800px;
}

.character-page > div:nth-child(2) > div {
  display: flex;
  flex-wrap: wrap;
}

.character-page > div:nth-child(2) p {
  text-align: justify;
  margin-bottom: 20px;
}

.comic-info {
  margin-bottom: 20px;
  width: 140px;
}

.comic-info:not(:nth-child(5n)) {
  margin-right: 15px;
}

.comic-info img {
  width: 100%;
  height: 215px;
  object-position: left;
}

/* Page 404 */

.page404 {
  display: flex;
  justify-content: space-evenly;
  height: calc(100vh - 180px);
  padding: 5px 0;
}
.page404 > div:first-child {
  height: 100%;
  background-image: url("./assets/img/marvel-characters.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 60px;
}

.page404 > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page404 > div:nth-child(2) img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.page404 iframe {
  height: 100%;
  width: calc(100vh - 180px);
}

.page404 > div:nth-child(2) img:hover {
  width: 55px;
  height: 55px;
}

.page404 img,
.page404 p {
  margin-bottom: 15px;
}

.page404 p {
  color: white;
}

.page404 h1 {
  margin-top: 0;
}

.page404 a {
  color: transparent;
}

.page404 button {
  background-color: var(--marvel-red);
  height: 40px;
  width: 100px;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}

/* Loading Page */

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 180px);
}

.loading img {
  height: 40vh;
  margin-bottom: 25px;
}

/* ------------------- */
/* Footer */
/* ------------------- */
footer {
  height: 80px;
  border-top: solid 1px var(--marvel-red);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

footer img {
  width: 35px;
  margin-right: 15px;
}

footer img:hover {
  width: 40px;
}

footer a,
footer p {
  color: inherit;
  font-size: 16px;
  margin-bottom: 0;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  color: var(--marvel-red);
}
